/* topSection SECTION */
.topSection h1{
  background-color: rgb(243, 203, 24);
  text-align: center;
  line-height: 3.3rem;
  color: white;
}

/* MIDDLE SECTION */

.middleSection{
  display: flex;
  justify-content: space-evenly;
  padding: 2px 0px;
}

/* LOWER SECTION */

.lowerSection{
  background-color:  #232323bb;
  height: 71vh;

}
.lowerSection .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container div{
   background-color: red;
   padding: 12px;
   height: 150px;
   width: 150px;
   margin: 30px 15px;
   border-radius: 23px;

}
.buttons{
  cursor: pointer;
  padding: 5px 20px;
  margin: 0px 10px;
  font-weight: 600;
  font-size: medium;
  color: brown;
}
.buttonsActive{
  cursor: pointer;
  padding: 5px 20px;
  font-weight: 600;
  font-size: medium;
  background: brown;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.buttons:hover{
  background: brown;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.buttonsContainer{
  display: flex; 
}
.rgb{
  font-weight: 500;
  font-size: 80px;
  padding: 20px;
}