/* topSection SECTION */
.topSection h1{
  background-color: rgba(239, 243, 24, 0.596);
  text-align: center;
  line-height: 3.3rem;
  color: white;
}

/* MIDDLE SECTION */

.middleSection{
  display: flex;
  justify-content: space-evenly;
}

/* LOWER SECTION */

.lowerSection{
  background-color:  #232323;
  height: 71vh;

}
.lowerSection .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container div{
   background-color: red;
   padding: 12px;
   height: 100px;
   width: 100px;
   margin: 3px;
   border-radius: 23px;

}
.buttons{
  cursor: pointer;
  padding: 5px 10px;
}
.buttonsContainer{
  display: flex;
  
}
.rgb{
  font-weight: 500;
  font-size: 80px;
  padding: 20px;
}